{% extends "store/base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


	<div class="container">

		<h2>HERBATEA</h2>

		<p><b>At Herbatea we source exceptional teas from the most prestigious tea growing regions and stunning teaware designed to bring the ceremony of tea into your home. Our promise is to sell only the highest quality products; never knowingly compromise on quality and strive to meet every customer expectation at all times. We regard the tea growing communities as our key stakeholders and so put aside 50% of our net profits towards the cause of improving their lives.</b>
		</p>

		<p><b> We are committed to reducing our impact on the environment. This is reflected in our products, sourcing, packaging, delivery and operations. With our founder’s dedication and master blender’s passion to bring premium quality teas to the world, today Tea India is available in most  Grocery Stores across England,Scotland and Ireland . And now with the growing popularity of tea, we’re growing our presence in other mainstream grocery stores across the Uk 
			
			<p><b>As tea specialists our aim is to be the gateway to the world of tea, creating memorable blends for everyone to enjoy and explore. Even though our passionate artisanal team scours the world to bring you the best tea, we have a small-picture approach when it comes to sourcing. All of our leaves are hand picked, ethically sourced and treated with care, and every batch is tasted and approved by our master blender who brings decades of family traditions and knowledge. We ensure the conditions are perfect for growing and picking so that the most flavoursome and sensorial tea is created for you. We have always sourced only seasonal and small-batch leaves and produce, so that the tea is in prime fresh condition for serving.</b></p>

		</div>

	{% endblock content %}