{% extends "store/base.html" %}
{% load static %}
{% block content %}


    <div class="contact-form">

    <h1>Contact Us</h1>

    <div class="txtb">
        <input type="text" name="" value="" placeholder="Enter Your Name">
    </div> 
    <div class="txtb">
        <input type="text" name="" value="" placeholder="Enter Your Email">
    </div> 
    <div class="txtb">
        <input type="text" name="" value="" placeholder="Enter Your Phone Number">
    </div> 
    <div class="txtb">
        <textarea placeholder="Description... "></textarea>
    </div> 
    <div class="btn-contact">
        <a href="{% url 'thankyou' %}" target="_blank">  
            <button><b>SEND</b></button> </a>
        </div>

    </div>


{% endblock content %}