{% extends "store/base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel = "stylesheet" href = "style.css">
</head>

    <div class="contact-form">

<form class="contact" action="{% url 'contact' %}" method="POST">
    {% csrf_token %}

    <h1>Contact Us</h1>

    <div class="txtb">
        <input type="text" name="full_name" value="" placeholder="Enter Your Name">
    </div> 
    <div class="txtb">
        <input type="text" name="email" value="" placeholder="Enter Your Email">
    </div> 
    <div class="txtb">
        <input type="text" name="mobile_number" value="" placeholder="Enter Your Phone Number">
    </div> 
    <div class="txtb">
        <textarea name="description" placeholder="Description... "></textarea>
    </div> 
    <div class="btn-contact">
        <a href="{% url 'thankyou' %}" target="_blank">  
            <button><b>SEND</b></button> </a>
        </div>
</form>

    </div>

</html>

{% endblock content %}