{% extends "store/base.html" %}
 {% load static %}
  {% block content %}

<!DOCTYPE html>

<html lan="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form class="login" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h1> Login </h1>

        <label> Username </label>
        <br>
        <input type="text" name="username" placeholder="Enter Username" id="username">
        <br>
        <br>
        <label> Password </label>
        <br>
        <input type="password" name="password" placeholder="Enter Password" id="password">
        <br>
        <button type="submit" name="" value="Login"> Login </button>
        <br>
        <!--below is code for message that pops up for incorrect details and if account is created-->
        {% for message in messages %} 
        <p id="test">{{message}}</p>
        {% endfor %}
        <section class="no-account">
           


            <h3> Don't have an account </h3>

            <h6> Just click on the button below to create an account </h6>
            
            <a href = "{% url 'signup' %}"><button type="button" value="sign up"> Sign Up </button></a>

        </section>
    </form>
</body>

</html>

{% endblock content %}