{% extends "store/base.html" %}
{% load static %}
{% block content %}




<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


    <title>THANKS!</title>
    <div class="TY">
    <h1>THANK YOU!</h1>
    <div class="txtb">
        <p>Thank you for contacting us!</p>
        <p>We will get back to you as soon as possible!</p>
    </div>

{% endblock content %}