<!DOCTYPE html>
<html lan="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>

<body>
    <button type="button" name="" value="Login" onclick="location.href = 'signin'">  Go to login</button>
    <button type="button" name="" value="Sign Up" onclick="location.href = 'signup'">  Go to signup </button>
    <button type="button" name="" value="Track Order" onclick="location.href = 'trackorder'">  Go to trackorder </button>
</body>