<!DOCTYPE html>
<html lan = "en">
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Track Your Order </title>
        <link rel = "stylesheet" href = "static/style.css">
    </head>
    <body>
        <form class = "trackorder" action = "trackorder.html" method = "POST">
            <h1> Track Your Order </h1>
            
            <label> Order Number </label>
            <br>
            <input type = "number" name = "" placeholder = "Enter Order Number" id = "ordernum">
            <br>
            <button type = "button" name = "" value = "Track"> Track </button>
            <section class = "Or">
            <br>
            <br>
            <h2> OR </h2>
            <br>
            </section>
            <section class = "tracking-number"> 
                <br>
                <label> Email Address </label>
                <br>
                <input type = "text" name = "" placeholder = "Enter Email Address" id = "email">
            </section>
        </form>
    </body>
</html> 